MQTT_HOST=localhost
MQTT_PORT=8883
MQTT_CLIENT_ID=fog-node
MQTT_TOPIC=md/v1/device/+/events

MQTT_USE_TLS=true
MESH_NODE_ID=fog-node-1

MQTT_CA_PATH=certs/ca.crt
MQTT_CERT_PATH=certs/fog.crt
MQTT_KEY_PATH=certs/fog_pkcs1_rsa.key

MQTT_KEEP_ALIVE_SECS=5
MQTT_RECONNECT_DELAY_SECS=3

DB_KEY=dev_key
