# Rust build output
target/

# Local certificates
certs/

certs2/

# Local configuration
.env

# Logs
*.log

# OS files
.DS_Store

# Backup / editor files
*.bak
*.swp
*~

mosquitto-clean.conf

data/
*.db
logs/
