[Unit]
Description=Man Down Application
After=network.target bluetooth.service

[Service]
Type=simple
User=beebee
# Add these two lines to force the permissions into the running process
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW CAP_SYS_RAWIO
Capabilities=CAP_NET_ADMIN CAP_NET_RAW CAP_SYS_RAWIO
SupplementaryGroups=bluetooth spi gpio dialout lp plugdev
WorkingDirectory=/home/beebee/man_down
ExecStart=/home/beebee/man_down/fog
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target 
