[Unit]
Description=Man Down Application
After=network.target bluetooth.service mosquitto.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/man_down
EnvironmentFile=/home/pi/man_down/.env
ExecStart=/home/pi/man_down/fog
Restart=always
RestartSec=5



[Install]
WantedBy=multi-user.target 
