[Unit]
Description=Fog Node Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/pi
ExecStart=/home/pi/pi/start.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
